ipaddress
requests
impacket
beautifulsoup4
bs4
colorama
fake-useragent
ipython
json5
psutil
pytz
requests
selenium
tqdm
urllib3
chromedriver-autoinstaller
scapy
pytesseract
fire==0.2.1
python-vlc
watchdog
opencv-python
