/* Estilo para el cuerpo del documento */
body, body.dark-mode * {
    transition: background-color 0.3s ease;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 36px; /* Puedes ajustar el tamaño según tus preferencias */
    text-align: center; /* Centrar el texto */
}

/* Modo Oscuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Encabezado */
h1, h1.dark-mode {
    text-align: center;
    font-size: 24px;
    margin-bottom: 15px;
    color: inherit;
}

/* Contenedor principal */
.container, #resultados li {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}


/* Búsqueda Avanzada */
#busqueda {
    width: 35%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Etiqueta de filtro */
label, label.dark-mode {
    font-size: 16px;
    margin-right: 10px;
    color: inherit;
}

/* Selector de filtro */
select, #puertoFilter, #servicioFilter, select.dark-mode, #puertoFilter.dark-mode, #servicioFilter.dark-mode {
    width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    color: inherit;
    background-color: inherit;
}

select.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Efecto de escala al pasar el mouse sobre el botón */
hover, #resultados li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efecto al hacer clic en el botón */
button:active, #resultados li:active {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Botones */
button, button.dark-mode {
    background-color: #2196F3;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

/* Botón de modo oscuro */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 999;
}

/* Cambiar los estilos de otros elementos en el modo oscuro si es necesario */
select.dark-mode-select {
    background-color: #333;
    color: #fff;
}

.not-found-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.table-container {
    text-align: center; /* Centra el contenido horizontalmente */
}

.result-table {
    width: auto;
    border-collapse: collapse;
    margin: 0 auto; /* Centra la tabla horizontalmente dentro del contenedor */
}

.result-table tbody {
    text-align: left; /* Alinea el texto dentro de cada celda del cuerpo de la tabla a la izquierda */
}

th, td {
    padding: 3.5px;
    text-align: left;
}

.image-square img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

#pagination {
    text-align: center;
}

#map {
    width: 80%;
    margin: 0;
}

.icon {
    width: 40px;
    height: 30px;
    margin-right: 5px;
}
